.btn {
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 4.1px 18px;
  /* display: inline-block; */
  letter-spacing: 2px;
  border: 1px solid black;
  margin-left: 2.5px;
  font-family: "Montserrat";
  font-size: 16px;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Styles for the modal content */
.modalContent {
  position: relative;
  width: auto;
  max-width: 480px;
  background-color: black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Styles for the modal header */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
}

.closeButton:hover {
  opacity: 1;
}

/* Styles for the form */
.form {
  margin-bottom: 16px;
}

.form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form input[type="text"],
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #000;
}

/* Styles for the button group */
.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.cancelButton {
  margin-right: 8px;
  background-color: #e53935;
  color: #fff;
}

.button.saveButton {
  background-color: #242f3e;
  color: #fff;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
