@@ -0,0 +1,98 @@
.navbar {
  background: transparent;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  bottom: 0;
  /* font-family: "Unica One", cursive; */
  font-family: "Montserrat";
  /* margin-top: 8px; */
  overflow: hidden;
}

.navbarContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 70px;
  /* max-width: 100%; */
  /* margin-top: 20px;
  margin-bottom: 15px; */
  padding: 0.25rem;
  background: transparent;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;

  justify-content: space-between;
  padding: 16px;
}

.navbarLogo {
  color: #c98a59;
  justify-self: start;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: left;
  font-weight: 570;
  /* font-family: "Montserrat"; */
}

.pinIcon {
  margin-left: 0.25rem;
  font-size: 1.4rem;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: center;
  /* margin-right: 1rem;
  margin-left: 1rem; */
}

.navItem {
  display: flex;
  align-items: center;
}

.link {
  color: #c98a59;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.55rem;
}

.link:hover {
  border-bottom: 3px solid rgb(75, 105, 126);
  /* transition: all 0.3s ease-in-out; */
}

.welcome {
  color: #19283c;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-left: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (max-width: 50%) {
  .link,
  .welcome {
    font-size: 0.5rem;
  }
  .pinIcon,
  .navbarLogo {
    font-size: 1.1rem;
  }
}
